.cse input.gsc-input:focus, input.gsc-input:focus {
    background-image:none !important;
}

.cse input.gsc-input, input.gsc-input {
    background-image:none !important;
    background-repeat:no-repeat;
    background-color:#fff;
}

body {
    padding: 40px 0px;
}


